* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c31432;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient(to right, #240b36, #c31432);
}

h1 {
    font-size: 7vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    background: #1a2a6c;
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: grad 5s ease infinite;

}

@keyframes grad {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}